html {
    @include breakpoint(xlarge up) {
        p, ul{
        	font-size: 1.1em !important;
        }
    	
    }
}

a {
  padding: 10px 0;
  color: $link-color;
}

:focus {
  outline: 2px dotted red; // $skip-background;
  outline-offset:-2px;
}

p a {
	font-weight: bold;
	//border-bottom: 1px solid;
    text-decoration: underline;
}