$header-bg: $white;
$header-li: $white; //#282E34;
$header-li-active: $black; //#605f5f;// #a7b4ce;
$header-topbar: #BFBFC2;
$header-border: #FFD036;// #7C7C7C;
$subnav-link-padding: 0.5rem;
$subnav-font-size: 1rem;
$subnav-link-opacity: 0.15;
$header-height: 1.0rem;
//$transition: all .35s ease-in-out;
$transition: all .0s ease-in-out;
$moto-color: #4D4C4C; //#828282;
$mainmenu-bg: #0058B7;


.topbar {
  background-color: $header-topbar;// $black; //map-get($foundation-palette, 'secondary');
  border-bottom: 1px solid $header-topbar;
  // border-bottom: 4px solid $header-border;
  color: $black;
  .menu {
    float: right;
    li {
      > a {
        color: $black;
        //font-size: 0.75em;
      }

      &.active > a {
        color: $white;
      }

    }
  } 
}

#logo {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  img {
    padding: 0.1em 0 0 1em;
  }
}

.header {
  min-height: 13em;
  text-align: right;
  background: $header-bg;
  background-size: cover;
  background-color: $header-bg;
  //background-image: url('../img/rich-media-bg.jpg');
  //background-image: url('../img/sa-bg-darkblue.png');
  //background-image: linear-gradient(to bottom, #9E6346 0%, #3D261B 100%);
  position: relative;
  overflow: visible;
  padding-top: $header-height;
  padding-bottom: $header-height + ($subnav-link-padding * 2 + $subnav-font-size - 0.15rem);
  margin-bottom: 0em;
  //border-bottom: 4px solid $black; //$header-border;
  .headline {
    color: $white;
  }

  .menu {
    margin: 50px 0;
  }

  img.logo {
    padding: 0 0 0 1em;
  }

  #moto {
    padding: 0 1em 0 0;
    font-size: 2em;
    color: $moto-color;
  }

}





#btn-open-offcanvas {
  margin-bottom: 0;
}


ul#off-canvas-menu{
  margin-top: 3em;
}

.header-subnav {
  float: none;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  bottom: 0;
  width: 100%;
  background-color: $mainmenu-bg;

  li {
    //float: none;
    display: inline-block;

      &.active {
        //background: rgba(250,250,250,$subnav-link-opacity);
        background-color: $header-li-active;
      }

      &.active > a {
        color: $white;
      }

      &:hover {
        //background: rgba(250,250,250,$subnav-link-opacity);
        background-color: $header-li-active;
        transition: $transition;
      }

      &:hover > a{
        color: $white;
        transition: $transition;
      }

    a {
      padding: $subnav-link-padding 1rem;
      font-size: $subnav-font-size;
      color: $header-li;
      text-transform: none;
      display: block;
      font-weight: bold;
      letter-spacing: 1px;
      transition: $transition;
      


    }
  }
}

/* landing page moto */

.landing {
  opacity: 1.0;
  background-image: url("../img/bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  @include breakpoint(medium down) {
     background-attachment: scroll;
    
  }
  @include breakpoint(small down) {
     background-image: none;
    
  }
}

.caption {
  margin: 5em 0;
  width: 100%;
  text-align: center;
  color: #000;
  @include breakpoint(small down) {
    margin-bottom: 1em;
  }


  span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 2.5em;
    letter-spacing: 10px;
    @include breakpoint(medium down) {
      font-size: 1.5em;
    }
  }
}

.moto {
  background-color:rgba(255, 255, 255, 0.9);
  //background-color:transparent;
  font-weight: bold; 
  margin: 5em 0 10em 0;
  padding: 3.0em;
  font-size: 1.2em;
  //signature...
  img {
    max-width: 200px;
  }

  @include breakpoint(medium down) {
    margin: 0;
    text-align: center;
  }

}


