$marketing-site-footer-bg: #ffffff;//#2c3840;
$font-size-footer-bottom: 1.1rem;
$footer-separator: #e3e3e5;

.marketing-site-footer {
  background: $marketing-site-footer-bg;
  //color: lighten($marketing-site-footer-bg, 40%);
  color: $white;
  padding: 2rem 0 0;
  font-size: $font-size-footer-bottom;

  .marketing-site-footer-menu-social a {
    color: $white;
  }

  a {
    color: $black; //$white;
  }

  .column-block {
    margin-bottom: 30px;
  }

  > .row {
    margin-bottom: 1rem;
  }

  ul li {
    padding-bottom: 0.1em;
  }

  ul li a:hover {
    text-decoration: underline;
  }

  @include breakpoint(small only) {
    .columns {
      margin-bottom: 2rem;
    }
  }
}

.marketing-site-footer-name {
  color: $white;
  margin-bottom: 1rem;
  //font-size: 2rem;
}

.marketing-site-footer-title {
  color: $white;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.marketing-site-footer-block {
  display: flex;
  margin-bottom: 1rem;

  .fa {
    font-size: 2rem;
    color: darken($marketing-site-footer-bg, 40%);
  }

  p {
    margin-left: 1rem;
    line-height: 1.125rem;
  }
}

.marketing-site-footer-bottom {
  background-color: map-get($foundation-palette, 'secondary');//darken($marketing-site-footer-bg, 20%);
  padding: 1rem 0;
  a {
    color: map-get($foundation-palette, 'primary');
  }
  
  p,
  .menu {
    margin-bottom: 0;
  }

  .language{
    text-align: right;
    @include breakpoint(small down) {  
      text-align: center;
    }
  }

  .copyright{
    text-align: left;
    @include breakpoint(small down) {  
      text-align: center;
    }
  }

  .marketing-site-footer-bottom-links {
    //justify-content: flex-end;

    a {
      color: lighten($marketing-site-footer-bg, 40%);
    }

    @include breakpoint(medium down) {
      justify-content: center;
    }
  }

  @include breakpoint(medium down) {
    text-align: center;
  }
}

.border-left {
  border-left: 1px solid $footer-separator; 
}

.border-right {
  border-right: 1px solid $footer-separator; 
}

.footer-wrapper {
  padding: 0 1.5em 2em 1.5em;
}

